body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.navbar {
    margin-bottom: 20px;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #007bff;
}

/* Menambahkan sedikit gaya untuk section dan elemen di halaman index */
#about-section, #benefits-section, #cta-section {
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin-top: 20px;
}

#cta-section {
    background-color: #007bff;
    color: white;
    border-radius: 10px;
}

footer {
    background-color: #f1f1f1;
}
